[submodule "notebooks/methods/Bias_Correction_Application"]
	path = notebooks/methods/Bias_Correction_Application
	url = https://github.com/Jez-Carter/Bias_Correction_Application.git
	branch = jupyterbook_render

[submodule "notebooks/methods/ds-toolbox-notebook-risk-terrestrial-carbon-pool"]
	path = notebooks/methods/ds-toolbox-notebook-risk-terrestrial-carbon-pool
	url = https://github.com/NERC-CEH/ds-toolbox-notebook-risk-terrestrial-carbon-pool.git
