[submodule "methods/ds-toolbox-notebook-risk-terrestrial-carbon-pool"]
	path = methods/ds-toolbox-notebook-risk-terrestrial-carbon-pool
	url = https://github.com/NERC-CEH/ds-toolbox-notebook-risk-terrestrial-carbon-pool.git
[submodule "methods/ds-toolbox-notebook-biascorrection"]
	path = methods/ds-toolbox-notebook-biascorrection
	url = https://github.com/NERC-CEH/ds-toolbox-notebook-biascorrection.git
[submodule "methods/ds-toolbox-notebook-multispecies-biodiversity-indicators"]
	path = methods/ds-toolbox-notebook-multispecies-biodiversity-indicators
	url = https://github.com/NERC-CEH/ds-toolbox-notebook-multispecies-biodiversity-indicators.git
[submodule "methods/ds-toolbox-notebook-jsdmstan"]
	path = methods/ds-toolbox-notebook-jsdmstan
	url = https://github.com/NERC-CEH/ds-toolbox-notebook-jsdmstan.git
[submodule "methods/DSFP-PyExplorer"]
	path = methods/DSFP-PyExplorer
	url = https://github.com/NERC-CEH/DSFP-PyExplorer
